.flashcard {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 5rem;
  box-shadow: black 0 0 0.5rem;
  padding: 4rem;
  background: white;
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background: rgb(243, 243, 243);
}
